.search {
  text-align: center;
  margin: 10px;
}
.search input {
  height: 52px;
  width: 948px;
  border-radius: 4px 0px 0px 4px;
  border: 0.5px solid black;
  padding: 0 17px;
  box-sizing: border-box;
  font-size: 20px;
  border-right: none;
}

.search button {
  width: 52px;
  height: 51px;
  font-size: 20px;
  border: none;
  border-radius: 0 4px 4px 0;
  background-color: #ff5a5f;
  color: white;

  cursor: pointer;
}

.search input:focus {
  outline: none;
}
